a {
  text-decoration:none;
}
 @font-face {
  font-family: "fontastique";
  src: url(fontastique.ttf) format("truetype");
            }
body
{
	background-image: url(bg.jpg);  
	margin: 0px;
	padding: 0px;
	overflow: hidden;

}

#wallpaper
 {
  position:absolute;
  width:0%;
  height:0%;
  top:50%;
  left:50%;
  background-color:white;
  z-index:-1;
  border-radius: 50%;
  box-shadow:0px 0px 1500px 200px rgba(255,255,255,0.3);
 }

/*Header - Tathva - Start*/

#top
 {
  background-color:black;
  position:absolute;
  left:0px;
  display:inline;
  width:100%;
  bottom:0px;
 }
#title
 {
  font-style:"fontastique";
  color:#DDDDEE;
  height:15%;
  margin-left:37%;
  margin-right:37%;
 }
#tat 
{
  font-size:500%;
  padding-top: 1%;
  cursor:pointer;
}
#tat:hover
 {
  text-shadow: 0px 0px 25px #DDDFFF;
  color:#FFFFFF;
 }
#logo
 {
  float:left;
  height:15%;
 }
#date
 {
  /*margin-top:-1%;*/
  margin-left: 40%;
  font-size:100%;
 }

/*Header - Tathva - End*/

.menublocks
{
	width:26%;
	position: relative;
	font-size: 35px;
	opacity: .5;
	height:auto;
	-webkit-transition:all .3s ease-in-out;
	-webkit-transform: perspective(300) rotateY(0deg); 
}
#blockleft
{
	float: left;
	top:40px;
	left: 40px;
	-webkit-transform-origin-x: 0%;
	-webkit-transform-origin-y: 50%;
}
#blockright
{
	float: right;
	top: 40px;
	right: 40px;
	-webkit-transform-origin-x: 100%;
	-webkit-transform-origin-y: 50%;
	text-align:right;
}
.menuitem
{
	background-image: url("d.png"); 
	position:relative;
	padding: 10%;
	height: 9%;
	width:80%;
	-webkit-transition:all .3s ease-in-out;
	z-index: 0;	
	-webkit-transform: perspective(300) translateZ(0px);
	-webkit-transform-origin-x: 50%;
	-webkit-transform-origin-y: 50%;
}
.leftanim
{
	-webkit-transform: perspective(300) rotateY(20deg);
}
.rightanim
{
	-webkit-transform: perspective(300) rotateY(-20deg);
}
.blur
{
	-webkit-filter:blur(2px);
}
.menuhover
{
	-webkit-filter:blur(0px);
	cursor: pointer;
	z-index: 1;
	-webkit-transform: perspective(300) translateZ(70px);
	-webkit-box-shadow: -10px 5px 50px 6px #000;
}
.content
{
	opacity: 0;
	position:absolute;
	top:50%;
	left:50%;
	width:0px;
	height:0px;
	-webkit-transition:all .3s ease-in-out;
}
#cone 
{
	background-color: red;
}
#ctwo 
{
	background-color: green;
}
#cthree 
{
	background-color: blue;
}
#cfour 
{
	background-color: yellow;
}
#cfive 
{
	background-color: black;
	color:white;
}
#csix 
{
	background-color: teal;
}
#cseven 
{
	background-color: indigo;
}
#ceight 
{
	background-color: pink;
}
.selected
{
	opacity: 1;
	top:0%;
	position:absolute;
	left:22%;
	width:56%;
	height:100%;
}