a {
  text-decoration:none;
}
 @font-face {
  font-family: "tathva";
  src: url(tathva.ttf) format("truetype");
            }
body
{
	background-image: url(images/bg.jpg);  
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#wallpaper
 {
  position:absolute;
  width:0%;
  height:0%;
  top:50%;
  left:50%;
  background-color:white;
  z-index:-1;
  border-radius: 50%;
  box-shadow:0px 0px 1500px 200px rgba(255,255,255,0.3);
 }

/*Header - Tathva - Start*/

#top
 {
  background-image: url(images/footer.jpg);
  position:absolute;
  left:0px;
  display:inline;
  width:100%;
  bottom:0px;
  height: auto;
  /*border-top: 10px solid #056000;*/
 }
#overfooter
 {
 	background-image:url(images/overfooter.jpg);
 	width:100%;
 	height:10px;
 }
#title
 {
  font-style:"tathva";
  color:#DDDDEE;
  height:15%;
  margin-left:37%;
  margin-right:37%;
 }
#tat 
{
  font-size:500%;
  padding-top: 1%;
  cursor:pointer;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}
#tat:hover
 {
  text-shadow: 0px 0px 25px #DDDFFF;
  color:#FFFFFF;
 }
#logo
 {
  float:left;
  height:15%;
 }
#date
 {
  clear:none;
  font-size:100%;
 }

/*Header - Tathva - End*/

.textheader
{
	text-align:center;
	margin-top: 2%;
	margin-left:2%;
	width:96%;
	background-color:none;
	position:relative;
	font-size:230%;
	opacity:1.0;
	height:8%;
	border-radius:10px; 
	color:white;
	/*border-radius-top-right:5px; */
}
.textcontent
{	
	margin-left:2%; 
	margin-top: 2%;
	width:96%;
	background-color:#111111;
	position:relative;
	font-size:30px;
	height:83%;
	border-radius:10px; 
	color:white;
}

.menublocks
{
	width:26%;
	color:white;
	position: relative;
	font-size: 35px;
	opacity: 0.8;
	height:auto;
	-webkit-transition:all .3s ease-in-out;
	-webkit-transform: perspective(300) rotateY(0deg); 
}
.menublocks>div:last-child
 {
	border-bottom:0px;
	font-size: 90%;
 }
span
 {
 	opacity:1;
 }
#blockleft
{
	float: left;
	top:40px;
	left: 40px;
	-webkit-transform-origin-x: 0%;
	-webkit-transform-origin-y: 50%;
}
#blockright
{
	float: right;
	top: 40px;
	right: 40px;
	-webkit-transform-origin-x: 100%;
	-webkit-transform-origin-y: 50%;
	text-align:right;
}
.menuitem
{
	border-bottom:2px dashed #AAAAAA;
	background-image: url("images/footer.jpg"); 
	position:relative;
	padding: 10%;
	height: 9%;
	width:80%;
	-webkit-transition:all .3s ease-in-out;
	z-index: 0;	
	-webkit-transform: perspective(300) translateZ(0px);
	-webkit-transform-origin-x: 50%;
	-webkit-transform-origin-y: 50%;
}
.leftanim
{
	-webkit-transform: perspective(300) rotateY(20deg);
}
.rightanim
{
	-webkit-transform: perspective(300) rotateY(-20deg);
}
.blur
{
	-webkit-filter:blur(1.5px);
}
.menuhover
{
	-webkit-filter:blur(0px);
	border-bottom:0px;
	cursor: pointer;
	z-index: 1;/* other wise others will tile over this*/
	-webkit-transform: perspective(300) translateZ(70px);
	-webkit-box-shadow: -10px 5px 50px 6px #000;
}
.content
{
	visibility: hidden;
	opacity: 0;
	position:absolute;
	top:50%;
	left:50%;
	width:0px;
	height:0px;
	-webkit-transition:all .7s ease-in-out;
}
.selected
{
	visibility:visible;
	overflow: hidden;
	top:0;
	position:absolute;
	left:22%;
	width:56%;
	height:80%;
	border-radius: 25px;
	opacity:0.8;
	background-color: black;
}
.textcontent>img
 {
 	width:100%;
 	height:100%;
 	/*margin-left:1000px;*/
 }
 .textcontent>div
  {
  	margin:auto 1%;
  	width:100%;
  	text-align:center;
  	height:auto;
  }
.contact
 {
 	width:auto;
 	float:left;
 	width:50%;
 }
h1
 {
 	font-size:110%;
 	margin:auto;
 	margin-bottom: 3%
 }
h2
 {
 	font-size:90%;
 	margin:auto;
 }
h3
 {
 	margin:auto;
 	font-size:80%;
 	margin-bottom: 5%
 }

 /*Gallery*/
.thumbs
{	
	border-top: 
	bottom:0px;
	margin-left:0px;
	width:5760px;
	height:100px;
	cursor:pointer;
}
.thumbs>img
{
	float:left;
	width:180px;
	height:100%;
	cursor: pointer;
}
#super
{
	bottom: 0px;
	margin-top: 30px;
	position: relative;
	margin-left: 0px;
	height:auto;
	width:100%;
	overflow: hidden;
}
#container
{
	z-index: 1;
	width:100%;
	height:400px;
	-webkit-transform: perspective(300) rotateY(0deg);
	-webkit-transform-style: preserve-3d;	
	-webkit-transition:all 1s ease;
}
.back
{
	opacity: 0;
	-webkit-transition:all 1s ease;
}
.front
{
	opacity: 1;
	-webkit-transition:all 1s ease;
}
#container>img
{
	border:1px solid #021a40;
	padding:4px;
    background-color:white;
	width:80%;
	height: 100%;
	margin-left: 10%;
}
#container>#twop
{
	position: absolute;
	top:0px;
	left: 0px;
	width:80%;/*for smooth transition when gallery will hide(after odd number of clicks)*/
	height: 100%;
	-webkit-transform: perspective(300) translateZ(-1px) rotateY(180deg); 
}
#back
{
	pointer-events:none;
	position: absolute;
	background: url("images/gallery/prev.png")  no-repeat;
	top:40%;
	margin-left: 0px;
	width: 4%;
	height: 6%;
	cursor: pointer;
	z-index: 3;
}
#next
{
	pointer-events:none;
	position: absolute;
	background: url("images/gallery/next.png") no-repeat;
	top: 40%;
	right: 0px;
	width: 4%;
	height: 6%;
	cursor: pointer;
	z-index: 4;
}
/* Gallery End*/
.hide
{
	opacity: 0;
}
